/* Стили для index.html */
:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color:#2077c9;
    --accent-bg-color:#ffffff;
    --secondary-bg-color: #2f303a;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --btn-bg-color: #f5f4fa;
}


body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 12;
    line-height: 1.71;
    color: var(--primary-text-color);
}
ul {
    list-style: none;
}
.list{
    list-style: none;
}
/* Site nav */
.logo .accent {
    color:var(--accent-color);
}
.logo .accent:hover, .logo .accent:hover{
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color:var(--accent-color);
}
.site-nav .link {
color:var(--title-text-color);
}
/* section */
.section-title{
    color: var(--title-text-color);
    text-align: center;
}
.clients > .section-title {
    color: var(--title-text-color);
}
/* Features */
.feature-list .title, 
.work-list .title  {
color: var(--title-text-color);
font-weight: 700;
font-size: 24 px;
line-height: 1.5;
}
.logo-span {
    color:#2077c9;
}
/* button */
.button {
    color:var(--title-text-color);
    background-color: var(--accent-bg-color);
}
.button.primary {
    background-color: var(--accent-color);
    color: var(--accent-bg-color);
}
.button.secondary {
    color:var(--accent-color);
    background-color:var(--accent-bg-color);
}
/* Стили для портфолио */
/* Hero */
.hero-title {
    text-align: center;
    font-size: 900 px;
    color: var(--title-text-color);
    }  

    .auth-nav .list:hover {
    color:var(--accent-color);
    }
